
/* _____________________________________________________Navbar */

.fa-paw {
    color: #4f4f4f;
}

.fa-paw:hover {
    color:rgba(252,176,66,255);
}

.nav-item:hover {
    .fa-paw {
        color:rgba(252,176,66,255);
        transform: scale(1.2);
        animation-name: tada;
        animation-duration: 1s;
        animation-fill-mode: both;
    }
    transform: scale(1.5);       
}

.navbar:hover .specialDog {
    animation: tada 1s;
  }

  .nav-item {
    display: inline-block;
    transition: transform 0.3s ease-in-out; 
  }

@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

/* ______________________________________________________Home */

.digital {
    font-size: 5rem;
    font-weight: bolder;
}

#dogsPicture {
    width: 100%;
    height: 100%;
}

.dogsPictureBox {
    width: 50%;
    height: 90%;
}

/* ___________________________________________________________InterestingIcon */
.Interesting {
    font-size: 3.5rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.interestingIcons {
   width: 100%;
   height: 100%;

}

.interestingIcons:hover {
    transform: scale(1.5);
    animation: tada 1s;     
}

.interestingIconsBox {
   width: 15%;
   height: 20%;
}

.target {
  display: flex;
  justify-content: center;
}

.trivia {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
}

/* ______________________________________________________________Footer */

.bg-custom {
  background-color: #f0b41c;
}

.bg-custom1 {
  background-color: #ae7d0374;
}

#imagelogo {
  width: 100%;
  height: 10%;
}

/* .sige {
  margin-top: 5%;
} */

/* webkit */
/* Hide the scrollbar */
::-webkit-scrollbar {
  display:contents;
 
  width: 15px;
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #ffe092;
  border-radius: 5px;
}

/* Customize the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #f6b205a4;
}

.navbar{
  background-color: #ffffff;
  z-index: 99 !important;
}

/* paws logo  */
.grid-item { width: 25%; }
.grid-item--width2 { width: 50%; }
/* end paws logo */

.paws1 {
  font-size: 8rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.btn-custom {
  width: 20%;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.btn-custom:hover {
  cursor:pointer;
}

/* ________________________________________________________________Adopt */

.h {
 height: 100%;
 width: 100%;
}

.p {
  height: 60vh;
  border-radius: 10%;
}

.eto {
  font-weight: bolder;
  font-size: 4rem;
}

.eto1 {
  font-weight: bolder;
}

.available {
  font-weight: bolder;
  font-size: 3rem;
}

.faq {
  font-weight: bolder;
  font-size: 3rem;
}

.row {
  padding-bottom: 50px;

}

.card {
  height: 100%;
}

.AdoptLoop {
  display: flex;
  justify-content: end;
  padding-bottom: 20%;
}

.img-fluid {
  border-radius: 50%;
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}

.bg-image {
 
  position: relative;
  height: 265px;
  background: #F2F2F2;
  background: -moz-linear-gradient(-45deg, rgba(252,176,66,255), #FDEA7D);
  background: -webkit-linear-gradient(-45deg, rgba(252,176,66,255), #FDEA7D);
  background: linear-gradient(135deg, rgba(252,176,66,255), #FDEA7D);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='#FDEA7D', GradientType=1);
  border-radius: 25px 25px 0 0;

}

.card-title {
  text-align: center;
  margin-top: 10%;
}

.AdoptLoopBtn {
  position: absolute;
  bottom: 0;
  margin-bottom: 5%;
}

.imgs {
  height: 100%;
  width: 100%;
}

.imgBox {
  height: 100%;
  width: 50%;
}


/* ________________________________________________________About */

.overflow {
  overflow: hidden;
}

.aboutWelcome {
  font-size: 4rem;
  font-weight: bolder;
  text-align: center;
}

.aboutImage {
 background-size: cover;
 background-repeat: no-repeat;
 width: 100%;
 border-radius: 10%;
}

.aboutUsh2 {
  font-size: 3rem;
}

.visionh2, .missionh2 {
  font-size: 2rem;
}

.meetTeamh2 {
  font-size: 3rem;
}

.gif {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}

.profBox {
  text-align: center;
}

.touchh2 {
  font-size: 3rem;
}

/* ____________________________________________________________________DogData */

#root {
  margin: 0%;
  padding: 0%;
}

.doggy h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.dogo {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10%;
  margin-top: 1%;
  font-size: 3rem;
}

.dogoimg {
  width: 60%;
  height: 500px;
  border-radius: 20%;
  object-fit: cover;
}

#dogowarper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  /* height: 50%; */
  margin-top: 10%;
}

.pBox {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.ppBox {
  text-align: center;
  width: 80%;
}

.inamo {
  width: 100%;
}

.inamoBox {
  width: 80%;
}

.inamoTalaga {
  display: flex;
  justify-content: center;
}

.pdog {
  text-align: center;
  margin-bottom: 10px;
}

.dground {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vh;
  height: 100vh;
  display: absolute ;
}

.background-container {
 background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100vw;
  height: 100vh; */
}


.carousel-image {
  width: 100%; 
  height: 100%;
  border-radius: 10%;
}

.carouselBox {
 width: 100%;
 height: 600px;
}

/* .amen {
  height: 100%;
} */

.thumbnail-gallery {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.thumbnail {
  width: 100px; /* Adjust the thumbnail size as desired */
  height: 100px;
  object-fit: cover;
  margin: 0 5px;
  cursor: pointer;
}

.thumbnail.active {
  border: 2px solid rgba(252,176,66,255); /* Add a border to indicate the active thumbnail */
}

.spanName1 {
  color: #4f4f4f;
}

.spanName2 {
  color: rgba(252,176,66,255);
}



